/* *{
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-size: 60px;
  background: yellow;
  color: red;
  text-align: center;
  padding: 20px;
}
ul{
  margin: 0;
  padding: 0;
  background: gray;
  overflow: hidden;
}
ul li{
  float: left;
  list-style-type: none;
}
ul li a{
  padding: 10px 30px;
  display: inline-block;
    font-size: 30px;
  text-decoration: none;
  color: green;
}
.drovd{
background: #00d00f0a;
display: none;
width: 300px;
border-radius: 30px;
position: absolute;
}

.dro .drovd a{
  display: block;
}
ul li:hover{
  background: white;
  transition: 3s ease;
}
.drovd a:hover{
  background: red;
  border-radius: 20px;
  transition: 3s ease;
}
.dro:hover .drovd{
display: block;
transition: 3s linear;
}
 */







/* .icons{
  overflow: hidden;
}
.icons ul{
  margin: 0;
  padding: 0;


}
.icons ul li {
  list-style: none;
  float: left;
  margin-right: 10px;

}
.icons ul li:last-child{
  margin: 0;
}

.icons ul li a{
  background: url('img/my.jpg');
  background-repeat: no-repeat;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  width: 287px;
  height: 230px;

}
.icons ul li:nth-child(1) a {
    background-position: -60px -197px;
}

.icons ul li:nth-child(2) a {

  background-position: -231px -7px;

}
.icons ul li:nth-child(3) a{
      background-position: -432px -197px;
}







.color-radient{
  margin-left: 38px;
  width: 300px;
  height: 200px;
  background: radial-gradient(circle , red 50% , green 50%) ;
}
.lt{
  background: green;
  width: 20px;
  height: 300px;
  margin-top: -10px;
    margin-left: 38px;
}
.p{
  width: 100px;
  height: 80px;
  background: green;
  border-radius: 20px 0 10px 0;
}
h4{
  margin-top: 5px;
  text-transform: uppercase;
  color: red;
  opacity: 0.6;
  letter-spacing: 30px;
}

.shadow{
border: 1px solid black;
transition: 1s linear;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.shadow:last-child{
  margin-right: 0;   /* eta kaj korse na*/
/* }
.shadow:hover{
  box-shadow: 5px 5px 8px,-5px -5px 8px;

}
.shadow img{
width: 100%;
border-radius: 20px 20px 0 0;

}
.shadow-text h3{
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  text-align: center;
}  */








.h{
width: 200px;
height: 200px;
background: green;
transform: translate(deg 40px);
}
